<div class="class-area-container">
  <div class="container">
      <div class="card mt-5" style="align-items: center;">
        <h1>Abonement Dashboard</h1>
      </div>
    
    
    
      <div class="mt-5">
        <table class="table table-bordered">
          <thead>
              <tr>
                 <th>#</th>
                  <th>Date Début</th>
                  <th>Date Fin</th>
                  <th>Bus point Arrivé</th>
                  <th>Bus point Départ</th>
              </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let a of abnDetails">
              <td>{{ a.idAb}}</td>
              <td>{{ a.dateD }}</td>
              <td>{{ a.dateF }}</td>
              <td>{{ a.bus.ptArrive}}</td>
              <td>{{ a.bus.ptDepart }}</td>

              
    
  <!-- Button trigger modal -->
              <td><button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(a)">update</button></td>
              <td><button type="button" class="btn btn-danger" (click)="deleteAbn(a.idAb)">Delete</button></td>
            </tr>
             
          </tbody>

        </table>
      </div>
    </div>
    
    <!--Update Dish-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Titre de la modale</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
              <form #updateForm="ngForm" (ngSubmit)="updateAbn()">
                
                <div class="form-group">
                  <label for="nomEtu">nom etudiant :</label>
                  <input type="text" #nomEtu [(ngModel)]="abnToUpdate.nomEtu" name="nomEtu" id="nomEtu" class="form-control"
                    placeholder="nomEtu">
                </div>

                <div class="form-group">
                  <label for="dateD">date de depart :</label>
                  <input type="date" #dateD [(ngModel)]="abnToUpdate.dateD" name="dateD" id="dateD"
                    class="form-control" placeholder="dateD">
                </div>
                
                <div class="form-group">
                  <label for="dateF">date final :</label>
                  <input type="date" #dateF [(ngModel)]="abnToUpdate.dateF" name="dateF" id="dateF"
                    class="form-control" placeholder="date final">
                </div>
                <div class="form-group">
                  <input type="submit" [disabled]="updateForm.invalid" value="Update"data-bs-dismiss="modal" class="btn btn-primary">
                  <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>

                
              </form>
            </div>
           
        </div>
      </div>
    
    <!--Nombre de calorie 
    <div class="modal fade" id="exampleModal1" tabindex="-1"  aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         
          <div class="modal-body">
            Contenu de la deuxième modal
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>  -->
    </div>
