  

 <app-header></app-header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Make your university experience</h6>
              <h2><em>even</em> better</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features" id="section2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-pencil"></i>Hostel university</h4>
            </div>  
            <div class="content-hide" (mouseover)="contentVisible = true" (mouseleave)="contentVisible = false">
              <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
              <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
              <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post second-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-graduation-cap"></i>Event </h4>
            </div>
            <div class="content-hide" (mouseover)="contentVisible = true" (mouseleave)="contentVisible = false">
              <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
              <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
              <div class="scroll-to-section"><a href="#section3">Details</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post third-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fas fa-book"></i>Restaurant</h4>
            </div>
            <div class="content-hide" (mouseover)="contentVisible = true" (mouseleave)="contentVisible = false">
              <p>Our university restaurant offers a variety of dining options to cater to the dietary preferences of all students. We offer two different menus to provide a range of choices and satisfy the diverse tastes of our university community.</p>
              <div class="scroll-to-section"><a routerLink="/dishFront">Read More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  </section>

<app-donnate></app-donnate>