<app-header></app-header>

<div class="body">
    <div class="comment-session">
        <div class="post-comment">
            <div class="list"*ngFor="let c of commentaireDetails" >
                <div class="user">
                    <div class="user-image"><img src="assets/img/avatar.png" alt="image"></div>
                    <div class="user-meta">
                        <div class="name">Sahnoun</div>
                        <div class="comment-post"> {{c.content}}/div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="comment-box">
            <div class="user">
                <div class="image"></div>
                <div class="name"></div>
            </div>
            <form>
                
                <div class="form-group">
                    <label for="title">Titre du sujet</label>
                    <input type="text" >
                </div>
                
                <div class="form-group">
                    <label for="description">Description détaillée</label>
                    <textarea class="form-control" ></textarea>
                </div>
                
            </form>
        </div>
    </div>
</div>
