
<section class="section coming-soon" data-section="section3" id="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <h4>Sharing the Love <em>Give Someone Hope</em></h4>
           
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-content">
            <div class="top-content">
              <h6>Register For donnation </h6>
            </div>
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <input type="text" #name="ngModel" (ngModel)="Donnation.firstName" name="firstName" id="firstName" class="form-control" placeholder="First Name" required pattern="[a-zA-Z ]*"> 
                    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                      <div *ngIf="name.errors?.['required']">First Name is required</div>
                      <div *ngIf="name.errors?.['pattern']">First Name  invalid.</div> 
                      </div>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input type="text" #last="ngModel" (ngModel)="Donnation.lastName" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required pattern="[a-zA-Z ]*">
                    <div class="alert alert-danger" *ngIf="last.touched && last.invalid">
                      <div *ngIf="last.errors?.['required']">Last Name is required</div>
                      <div *ngIf="last.errors?.['pattern']">Last Name  invalid.</div> 
                      </div>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input type="email" #emaill="ngModel" (ngModel)="Donnation.email" name="email" id="email" class="form-control" placeholder="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    <div class="alert alert-danger" *ngIf="emaill.touched && emaill.invalid">
                      <div *ngIf="emaill.errors?.['required']">Email is required</div>
                      <div *ngIf="emaill.errors?.['pattern']">Email  invalid.</div> 
                  </div>
                  </fieldset>
                </div>
               
                <div class="col-md-12">
                  <fieldset>
                    <input type="submit" [disabled]="registerForm.invalid" value="Register" class="btn btn-primary w-100">
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  

 
  


